<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="UltimateFestivalOrganizerDB" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\wlume\Source\Repos\SWK5-WEA5-Projekt\UltimateFestivalOrganizer\DB\UltimateFestivalOrganizerDb.mdf; Integrated Security = True; Connect Timeout = 30" />
  </connectionStrings>
  <appSettings>
    <add key="DALAssembly" value="UltimateFestivalOrganizer.DAL.SqlServer" />
    <add key="ScriptFolder" value="C:\Users\wlume\Source\Repos\SWK5-WEA5-Projekt\UltimateFestivalOrganizer\UltimateFestivalOrganizer.DAL.Test\DAL.SqlServer.DB\" />
    <add key="doCreateTestData" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="mail@ufo.at" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\tmp\" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>