<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!-- TestDatabase-->
    <!--
    <add name="UltimateFestivalOrganizerDB" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\Wolfgang\Source\Repos\SWK5-WEA5-Projekt\UltimateFestivalOrganizer\UltimateFestivalOrganizer.Test\DAL.SqlServer.DB\UltimateFestivalOrganizerTestDb.mdf; Integrated Security = True; Connect Timeout = 30" />
    -->
    <!-- RealDatabase-->
    <add name="UltimateFestivalOrganizerDB" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\wlume\Source\Repos\SWK5-WEA5-Projekt\UltimateFestivalOrganizer\DB\UltimateFestivalOrganizerDb.mdf; Integrated Security = True; Connect Timeout = 30" />
  </connectionStrings>

  <appSettings>
    <add key="DALAssembly" value="UltimateFestivalOrganizer.DAL.SqlServer"/>
    <add key="ScriptFolder" value="C:\Users\wlume\Source\Repos\SWK5-WEA5-Projekt\UltimateFestivalOrganizer\UltimateFestivalOrganizer.Test\DAL.SqlServer.DB\" />
    <add key="doCreateTestData" value="true"/>
  </appSettings>
</configuration>